// https://docs.moodle.org/dev/Creating_a_theme_based_on_boost#Why_do_we_use_pre_and_post_SCSS.3F
// Pre SCSS for the theme.

// Increase font size for user log in/sign up top-right header.
.usermenu {
    font-size: 1.2em;
}


#enroll-button-container {
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 5px;
}

.container-navbar-logo {
    width: 10vw;
    min-width: 5em;
}

.navbar-logo img {
  height: 45px;
  margin-top: -2px;
  padding-bottom: 2px;
}
