/*Mobile App Styling:*/

/* match font to website but haven't added link to html pages yet*/

body {
    font-family: 'Lato', sans-serif;
}

/*change background color of header*/

.bar-header {
    background-color: #25535E;
}

/*list on right*/
.list {
  font-weight: bold;
}

/*change nav list text and bg color*/

a .item {
    color: #469DCC;
    background-color: #F8F7F4;
    text-weight: bold
}

/*change the bottom icons in my courses*/
.items.tabs{
  color: #469DCC;
}
/*//dunno what this is for yet*/
ul ul {
	list-style-position: inside;
	list-style-type: circle;
}
